#<IfModule mod_rewrite.c>
#  RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteRule	^$ public/	[L]
#  RewriteRule	((?s).*) public/$1	[L]
#</IfModule>

#<IfModule !mod_rewrite.c>
#    <IfModule mod_alias.c>
#        RedirectMatch 302 ^/$ /index.php/
#    </IfModule>
#</IfModule>


#<FilesMatch «\.(ttf|otf|eot|woff)$»>
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin «*»
</IfModule>
#</FilesMatch>